@model MyAwesomeBlog.Models.Comment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/btn-link-style.css" rel="stylesheet" />
</head>

<h2 style="text-align: center">CREATE A NEW COMMENT</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommentContent, new { htmlAttributes = new { @class = "form-control", @id = "mytextarea" } })
                @Html.ValidationMessageFor(model => model.CommentContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-lg btn-dark btn-block" value="Create" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Post", "Details", "Posts", new { id = @ViewBag.PostId }, new { @class = "action-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}
