@model MyAwesomeBlog.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-4 mx-auto">
        <div class="text-center">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <img class="mb-4" src="~/Assets/register.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-bold">Create Account</h1>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-lg btn-dark btn-block" value="Register" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
